*.class
*.jar
*~
.classpath
.clj-kondo/.cache
.cljs_node_repl
.cpcache
.idea
.java-version
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.vscode
checkouts
classes
coverage
node_modules
target
build.edn
