{:paths   ["src/main/clojure" "src/main/resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases {:dev       {:extra-paths ["src/dev/clojure" "src/dev/resources"]
                       :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.879"}
                                     nrepl/nrepl               {:mvn/version "0.8.3"}
                                     hashp/hashp               {:mvn/version "0.2.1"}}
                       :main-opts   ["--main" "nrepl.cmdline"]}

           :test-clj  {:extra-paths ["src/test/clojure" "src/test/resources"]
                       :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.887"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
                       :main-opts   ["--main" "kaocha.runner"]}

           :test-cljs {:extra-paths ["src/test/clojure" "src/test/resources"]
                       :extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :main-opts   ["--main" "cljs-test-runner.main"
                                     "--out" "target/test-cljs"
                                     "--dir" "src/test/clojure"]}

           :run       {:extra-deps {io.github.clojure/tools.build    {:git/tag "v0.5.1" :git/sha "21da7d4"}
                                    io.github.seancorfield/build-clj {:git/tag "v0.5.0" :git/sha "2ceb95a"}}
                       :ns-default run}

           :nop       {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}}

           :antq      {:extra-deps {com.github.liquidz/antq {:mvn/version "1.1.0"}}
                       :main-opts  ["--main" "antq.core"]}}}
